html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  box-sizing: border-box;
}
.container {
  width: 50%;
  margin: 2em auto;
  border: 3px solid black;
  border-radius: 20px;
}
/*-------- header--------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 2px solid #c6c6c6;
}

.logo-img {
  width: 100px;
}

.user-img {
  width: 42px;
  height: auto;
  border-radius: 50%;
}

/* ------------id-section-------------------------------- */

.id {
  display: flex;
  align-items: center;
}
.id-name {
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 0;
}
.id-location {
  margin-bottom: 0;
}
.vangogh-avatar-img {
  width: 40px;
  border-radius: 50%;
  padding: 15px;
}

.id-location {
  margin-top: 0;
}

.info {
  position: relative;
  bottom: 10px;
}
/* -------------photo-section----------------------------- */
.vangogh-img {
  width: 100%;
}
/* -----------------reactions-section----------------------------- */
.reactions {
  margin-top: 1em;
  margin-left: 1em;
}
.heart-reaction,
.comment-reaction,
.dm-reaction {
  width: 20px;
  padding-right: 1em;
}
.heart-reaction:hover,
.comment-reaction:hover,
.dm-reaction:hover {
  opacity: 0.5;
}

/* ---------------like-count section-------------------------- */
.number-of-likes {
  margin-left: 1em;
}
.likes {
  margin-bottom: 0;
  font-weight: 700;
}

/* ----------caption section--------------------------- */
.user-id {
  font-weight: 900;
  margin-right: 0.5em;
  word-break: break-all;
  display: inline-block;
  font-size: 1rem;
}
.caption {
  margin-left: 1em;
}
.caption-para {
  margin-top: 10px;
}

/* -----media queries--- */
@media (max-width: 500px) {
  .container {
    width: 95%;
  }
}
